<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Program Registration - Add Registered Program</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />

</head>
<body>

<div th:replace="fragments/header :: header" th:with="statusCounter=(${statusCounter})"/>

<div id="page-container">
    <div id = "content-wrap">
        <header class="bg-primary py-5 mb-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-12">
                        <h1 class="display-4 text-white mt-5 mb-2">Add Registered Program</h1>
                        <p class="lead text-white-50">Create new registered program to the compendium</p>
                        <div class="btn-group mr-2 float-right" role="group">
                            <a th:href="@{/program_registration}" class="a-header btn btn-info btn-lg" role="button" aria-pressed="true">Back to Compendium</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <div class="container mb-5">
                <form id="addProgRegForm" th:action="@{/program_registration/registeredProgram/create/save}" th:object="${registeredProgram}" method="post">
                    <fieldset>
                        <div class="container">
                            <h1 class="display-5 text-black-50 mb-5">Create New Registered Program</h1>
                            <div class="form-group row">
                                <label for="institutionId" class="col-sm-2 col-form-label">Select Institution<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" data-live-search="true" id="institutionId" name="institutionId" required>
                                        <th:block th:each="operatingUnit : ${T(com.tesda8.region8.util.enums.OperatingUnitType).values()}">
                                            <optgroup th:label="${operatingUnit.label}">
                                                <th:block th:each="institution : ${ttiList}">
                                                    <th:block th:if="${institution.operatingUnitType == operatingUnit}">
                                                        <option th:value="${institution.id}"
                                                                th:text="${institution.name}">
                                                        </option>
                                                    </th:block>
                                                </th:block>
                                            </optgroup>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sector" class="col-sm-2 col-form-label">Select Course Sector<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" data-live-search="true"  id="sector" name="sector" required>
                                        <optgroup label="Non-Bundled Programs">
                                            <th:block th:each="sector : ${T(com.tesda8.region8.util.enums.Sector).values()}">
                                                <th:block th:if="${sector.sectorType != 'BUNDLED' and sector != T(com.tesda8.region8.util.enums.Sector).ALL}">
                                                    <option th:value="${sector}"
                                                            th:text="${sector.label}">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </optgroup>
                                        <optgroup label="Bundled Programs">
                                            <th:block th:each="sector : ${T(com.tesda8.region8.util.enums.Sector).values()}">
                                                <th:block th:if="${sector.sectorType == 'BUNDLED' and sector != T(com.tesda8.region8.util.enums.Sector).ALL}">
                                                    <option th:value="${sector}"
                                                            th:text="${sector.label}">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Qualification Title<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter Qualification Title" id="name" name="name" type="text" th:field="*{name}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="duration" class="col-sm-2 col-form-label">Duration in Hours<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="number" onkeypress="return isNumberKey(event)"  class="form-control" placeholder="Enter Duration Hours" id="duration" name="duration" th:field="*{duration}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="programRegistrationNumber" class="col-sm-2 col-form-label">Program Registration Number<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter Program Registration Number" id="programRegistrationNumber" name="programRegistrationNumber" type="text" th:field="*{programRegistrationNumber}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="dateIssued" class="col-sm-2 col-form-label">Date Issued<span class="input-required">*</span></label>
                                <div class="input-group date  col-sm-10" id="dateIssued" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#dateIssued" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <input th:field="*{dateIssued}" type="text" class="form-control datetimepicker-input" data-target="#dateIssued" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseStatus" class="col-sm-2 col-form-label">Course Status<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="courseStatus" name="courseStatus" required>
                                        <th:block th:each="courseStatus : ${T(com.tesda8.region8.util.enums.CourseStatus).values()}">
                                            <th:block th:if="${courseStatus != T(com.tesda8.region8.util.enums.CourseStatus).ALL}">
                                                <option th:value="${courseStatus}"
                                                        th:text="${courseStatus.label}">
                                                </option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="numberOfTeachers" class="col-sm-2 col-form-label">Number of Teachers<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="number" onkeypress="return isNumberKey(event)"  class="form-control" placeholder="Enter Number of Teachers" id="numberOfTeachers" name="numberOfTeachers" th:field="*{numberOfTeachers}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="buildingOwnershipDateIssued" class="col-sm-2 col-form-label">Building Ownership Date Issued<span class="input-required">*</span></label>
                                <div class="input-group date  col-sm-10" id="buildingOwnershipDateIssued" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#buildingOwnershipDateIssued" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <input th:field="*{registrationRequirement.buildingOwnershipDateIssued}" type="text" class="form-control datetimepicker-input" data-target="#buildingOwnershipDateIssued" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fireSafetyDateIssued" class="col-sm-2 col-form-label">Fire Safety Certificate Date Issued<span class="input-required">*</span></label>
                                <div class="input-group date  col-sm-10" id="fireSafetyDateIssued" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#fireSafetyDateIssued" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <input th:field="*{registrationRequirement.fireSafetyDateIssued}" type="text" class="form-control datetimepicker-input" data-target="#fireSafetyDateIssued" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="moaValidity" class="col-sm-2 col-form-label">MOA Validity Date Issued<span class="input-required">*</span></label>
                                <div class="input-group date  col-sm-10" id="moaValidity" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#moaValidity" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <input th:field="*{registrationRequirement.moaValidity}" type="text" class="form-control datetimepicker-input" data-target="#moaValidity" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="registrationRequirement.moaValidityType" class="col-sm-2 col-form-label">MOA Validity Years<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="registrationRequirement.moaValidityType" name="registrationRequirement.moaValidityType" required>
                                        <th:block th:each="moaValidityType : ${T(com.tesda8.region8.util.enums.MoaValidityType).values()}">
                                            <option th:value="${moaValidityType}"
                                                    th:text="${moaValidityType.label}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#dateIssued').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#buildingOwnershipDateIssued').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#fireSafetyDateIssued').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#moaValidity').datetimepicker({
                                        format: 'L'
                                    });
                                });
                            </script>
                        </div>
                        <div class="container mt-5">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-lg float-right" type="submit" id="submitButton" th:value="Update"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create</button></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script  type='text/javascript' src="../../static/js/main.js" th:src="@{/js/main.js}"></script>


<div th:replace="fragments/footer :: footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script  type='text/javascript' src="../../static/js/main.js" th:src="@{/js/program_registration/add_registered_program.js}"></script>


</body>
</html>