<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Program Registration</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />

</head>
<body>

<div th:replace="fragments/header :: header" th:with="statusCounter=(${statusCounter})"/>
<div id="page-container">
    <input type="hidden" id="expiredDocumentSize" th:value="${expiredDocuments.getTotalCount()}"/>
    <div id="myToast" class="toast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Document Expired</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" th:object="${expiredDocuments}">
            <th:block th:if="${!expiredDocuments.expiredBuildingOwnership.isEmpty()}">
                <b>Expired Building Ownership:</b>
                <br/>
                <th:block th:each="expiredDocument, itemStat : *{expiredBuildingOwnership}">
                    <a th:href="@{/program_registration/registeredProgram/{id}/update(id=${expiredDocument.id})}"><span class="ml-3 danger" th:text="${expiredDocument.programRegistrationNumber}"></span></a>
                    <br/>
                </th:block>
            </th:block>
            <th:block th:if="${!expiredDocuments.expiredFireSafety.isEmpty()}">
                <b>Expired Fire Safety:</b>
                <br/>
                <th:block th:each="expiredDocument, itemStat : *{expiredFireSafety}">
                    <a th:href="@{/program_registration/registeredProgram/{id}/update(id=${expiredDocument.id})}"><span class="ml-3 danger" th:text="${expiredDocument.programRegistrationNumber}"></span></a>
                    <br/>
                </th:block>
            </th:block>
            <th:block th:if="${!expiredDocuments.expiredMoaValidity.isEmpty()}">
                <b>Expired Moa Validity:</b>
                <br/>
                <th:block th:each="expiredDocument, itemStat : *{expiredMoaValidity}">
                    <a th:href="@{/program_registration/registeredProgram/{id}/update(id=${expiredDocument.id})}"><span class="ml-3 danger" th:text="${expiredDocument.programRegistrationNumber}"></span></a>
                    <br/>
                </th:block>
            </th:block>
        </div>
    </div>
    <div id = "content-wrap">
        <header class="bg-primary py-5 mb-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-12">
                        <h1 class="display-4 text-white mt-5 mb-2">Program Registration Unit</h1>
                        <p class="lead text-white-50">Compendium of Registered Programs</p>
                        <div class="btn-group mr-2 float-right" role="group">
                            <a th:href="@{/program_registration/institutions}" class="a-header btn btn-info btn-lg" role="button" aria-pressed="true">View Institution List</a>
                            <a th:href="@{/program_registration/registeredProgram/create}" class="a-header btn btn-success btn-lg" role="button" aria-pressed="true">Add Registered Program</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="ml-3">
            <h1 class="display-5 text-black-50 mb-5">Search Registered Programs</h1>
        </div>
        <form th:action="@{/program_registration/registeredProgram/search}" th:object="${registeredProgramFilter}" method="post">
            <fieldset>
                <div id="parent">
                    <div id="wide">
                        <div class="container">
                            <div class="form-group row">
                                <label for="operatingUnitType" class="col-sm-2 col-form-label">Select Province</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="operatingUnitType" name="operatingUnitType" multiple required>
                                        <option th:each="operatingUnit : ${T(com.tesda8.region8.util.enums.OperatingUnitType).values()}"
                                                th:value="${operatingUnit}"
                                                th:text="${operatingUnit.label}"
                                                th:selected="${operatingUnit == T(com.tesda8.region8.util.enums.OperatingUnitType).TOTAL}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="institutionIds" class="col-sm-2 col-form-label">Select Institution</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" data-live-search="true" id="institutionIds" name="institutionIds" multiple required>
                                        <optgroup label="All">
                                            <option value="0" text="All" selected>All Institutions</option>
                                        </optgroup>
                                        <optgroup th:each="operatingUnit : ${T(com.tesda8.region8.util.enums.OperatingUnitType).values()}"
                                                  th:label="${operatingUnit.label}">
                                            <th:block th:each="institution : ${ttiList}">
                                                <th:block th:if="${institution.operatingUnitType == operatingUnit}">
                                                    <option th:value="${institution.id}"
                                                            th:text="${institution.name}">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="institutionClassification" class="col-sm-2 col-form-label">Select Classification of Institution</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="institutionClassification" name="institutionClassification" multiple required>
                                        <option th:each="institutionClassification : ${T(com.tesda8.region8.util.enums.InstitutionClassification).values()}"
                                                th:value="${institutionClassification}"
                                                th:text="${institutionClassification.label}"
                                                th:selected="${institutionClassification == T(com.tesda8.region8.util.enums.InstitutionClassification).ALL}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sector" class="col-sm-2 col-form-label">Select Course Sector</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" data-live-search="true"  id="sector" name="sector">
                                        <optgroup label="All">
                                            <option th:value="${T(com.tesda8.region8.util.enums.Sector).ALL}"
                                                    selected>All Sectors
                                            </option>
                                        </optgroup>
                                        <optgroup label="Non-Bundled Programs">
                                            <th:block th:each="sector : ${T(com.tesda8.region8.util.enums.Sector).values()}">
                                                <th:block th:if="${sector.sectorType != 'BUNDLED' and sector != T(com.tesda8.region8.util.enums.Sector).ALL}">
                                                    <option th:value="${sector}"
                                                            th:text="${sector.label}">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </optgroup>
                                        <optgroup label="Bundled Programs">
                                            <th:block th:each="sector : ${T(com.tesda8.region8.util.enums.Sector).values()}">
                                                <th:block th:if="${sector.sectorType == 'BUNDLED' and sector != T(com.tesda8.region8.util.enums.Sector).ALL}">
                                                    <option th:value="${sector}"
                                                            th:text="${sector.label}">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseName" class="col-sm-2 col-form-label">Qualification Title</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter Qualification Title" id="courseName" name="courseName" type="text" th:value="${registeredProgramFilter.courseName}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="registeredProgramNumber" class="col-sm-2 col-form-label">Program Reg. No.</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter Program Registration Number" id="registeredProgramNumber" name="registeredProgramNumber" type="text" th:value="${registeredProgramFilter.registeredProgramNumber}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="narrow">
                        <div class="container">
                            <div class="form-group row">
                                <label for="dateIssuedFrom" class="col-sm-2 col-form-label">Date Issued From</label>
                                <div class="input-group date  col-sm-10" id="dateIssuedFrom" data-target-input="nearest">
                                    <input th:field="*{dateIssuedFrom}" type="text" class="form-control datetimepicker-input" data-target="#dateIssuedFrom"/>
                                    <div class="input-group-append" data-target="#dateIssuedFrom" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="dateIssuedTo" class="col-sm-2 col-form-label">Date Issued To</label>
                                <div class="input-group date  col-sm-10" id="dateIssuedTo" data-target-input="nearest">
                                    <input th:field="*{dateIssuedTo}" type="text" class="form-control datetimepicker-input" data-target="#dateIssuedTo"/>
                                    <div class="input-group-append" data-target="#dateIssuedTo" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseStatus" class="col-sm-2 col-form-label">Select Course Status</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="courseStatus" name="courseStatus">
                                        <option th:each="courseStatus : ${T(com.tesda8.region8.util.enums.CourseStatus).values()}"
                                                th:value="${courseStatus}"
                                                th:text="${courseStatus.label}"
                                                th:selected="${courseStatus == T(com.tesda8.region8.util.enums.CourseStatus).ALL}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="isClosed" class="col-sm-2 col-form-label">Closed</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" th:field="*{isClosed}" id="isClosed"/>
                                    <span>Check if the registered program has been closed</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sortOrder" class="col-sm-2 col-form-label">Sort by Date Issued</label>
                                <div class="col-sm-10">
                                    <div th:each="sortOrder : ${T(com.tesda8.region8.util.enums.SortOrder).values()}">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" th:field="*{sortOrder}" th:value="${sortOrder}" id="sortOrder" name="sortOrder" class="form-check-input">
                                            <label class="form-check-label" for="sortOrder" th:text="${sortOrder.label}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#dateIssuedFrom').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#dateIssuedTo').datetimepicker({
                                        useCurrent: false,
                                        format: 'L'
                                    });
                                    $("#dateIssuedFrom").on("change.datetimepicker", function (e) {
                                        $('#dateIssuedTo').datetimepicker('minDate', e.date);
                                    });
                                    $("#dateIssuedTo").on("change.datetimepicker", function (e) {
                                        $('#dateIssuedFrom').datetimepicker('maxDate', e.date);
                                    });
                                });
                            </script>
                        </div>
                        <div class="container mt-5">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-lg float-right" type="submit" id="submitButton" th:value="Update"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                                <button onclick="exportTableToExcel('prog-reg-table', 'Registered Programs')"  class="btn btn-success btn-lg" id="downloadTable" type="button"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export as Excel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="container">
            <hr class="border"/>
        </div>
        <div>
            <div>
                <div class="container">
                    <p class="lead text-black-50">Total Registered Programs:
                        <span class="lead text-black" th:text="${total}"></span>
                    </p>
                </div>
                <div class="table-responsive">
                    <table id="prog-reg-table" class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Province</th>
                            <th scope="col"> Institution Name</th>
                            <th scope="col"> Institution Classification</th>
                            <th scope="col"> Qualification Title</th>
                            <th scope="col"> Sector</th>
                            <th scope="col"> Duration</th>
                            <th scope="col"> Program Reg. No.</th>
                            <th scope="col"> Date Issued</th>
                            <th scope="col"> Status</th>
                            <th scope="col"> Number of Trainer</th>
                            <th scope="col"> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="registeredProgram : ${registeredPrograms}">
                                <tr>
                                    <td scope="row" th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.operatingUnit.label}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.institutionName}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.institutionClassification.label}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.name}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.sector.label}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.duration} + ' hours'"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.programRegistrationNumber}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${#temporals.format(registeredProgram.dateIssued, 'yyyy/MM/dd')}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.courseStatus.label}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><span th:text="${registeredProgram.numberOfTeachers}"></span></td>
                                    <td th:class="${registeredProgram.isClosed} ? closed-col : ''"><a th:href="@{/program_registration/registeredProgram/{id}/update(id=${registeredProgram.id})}"><button class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i> Update</button></a></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src="../../static/js/table_to_excel.js" th:src="@{/js/table_to_excel.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


<div th:replace="fragments/footer :: footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
<script type='text/javascript' th:src="@{/js/sticky_table_header.js}"></script>
<script  type='text/javascript' src="../../static/js/doubleScroll/jquery.doubleScroll.js" th:src="@{/js/doubleScroll/jquery.doubleScroll.js}"></script>
<script type='text/javascript' th:src="@{/js/table_event_handlers.js}"></script>
<script type='text/javascript' th:src="@{/js/program_registration/program_registration.js}"></script>

</body>
</html>