<!DOCTYPE HTML>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Program Registration - Update Registered Program</title>
            <div th:replace="fragments/header :: header-css"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />

        </head>
<body>

<div th:replace="fragments/header :: header"/>

<div id="page-container">
    <div id = "content-wrap">
        <header class="bg-primary py-5 mb-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-12">
                        <h1 class="display-4 text-white mt-5 mb-2">Update Registered Program</h1>
                        <p class="lead text-white-50">Update the registered program details</p>
                        <div class="btn-group mr-2 float-right" role="group">
                            <a th:href="@{/program_registration}" class="btn btn-info btn-lg" role="button" aria-pressed="true">Back to Compendium</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <div class="container mb-5">
                <form id="updateProgRegForm" th:action="@{/program_registration/registeredProgram/update/save}" th:object="${registeredProgram}" method="post">
                    <fieldset>
                        <div class="container">
                            <div class="btn-group float-right" role="group">
                                <a th:href="@{/program_registration/registeredProgram/{id}/delete(id=${registeredProgram.id})}" id="deleteButton"><button class="btn-lg btn btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i> Delete Registered Program</button></a>
                            </div>
                            <h1 class="display-5 text-black-50 mb-5">Update Registered Program</h1>
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{isDeleted}"/>
                            <div class="form-group row">
                                <label for="sector" class="col-sm-2 col-form-label">Select Course Sector</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" data-live-search="true"  id="sector" name="sector" required>
                                        <optgroup label="Non-Bundled Programs">
                                            <th:block th:each="sector : ${T(com.tesda8.region8.util.enums.Sector).values()}">
                                                <th:block th:if="${sector.sectorType != 'BUNDLED' and sector != T(com.tesda8.region8.util.enums.Sector).ALL}">
                                                    <option th:value="${sector}"
                                                            th:text="${sector.label}"
                                                            th:selected="${sector == registeredProgram.sector}">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </optgroup>
                                        <optgroup label="Bundled Programs">
                                            <th:block th:each="sector : ${T(com.tesda8.region8.util.enums.Sector).values()}">
                                                <th:block th:if="${sector.sectorType == 'BUNDLED' and sector != T(com.tesda8.region8.util.enums.Sector).ALL}">
                                                    <option th:value="${sector}"
                                                            th:text="${sector.label}"
                                                            th:selected="${sector == registeredProgram.sector}">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Qualification Title</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter Qualification Title" id="name" name="name" type="text" th:field="*{name}" th:value="${registeredProgram.name}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="duration" class="col-sm-2 col-form-label">Duration in Hours</label>
                                <div class="col-sm-10">
                                    <input type="number" onkeypress="return isNumberKey(event)"  class="form-control" placeholder="Enter Duration Hours" id="duration" name="duration" th:field="*{duration}" th:value="${registeredProgram.duration}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="programRegistrationNumber" class="col-sm-2 col-form-label">Program Registration Number</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter Program Registration Number" id="programRegistrationNumber" name="programRegistrationNumber" type="text" th:field="*{programRegistrationNumber}" th:value="${registeredProgram.programRegistrationNumber}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="dateIssued" class="col-sm-2 col-form-label">Date Issued</label>
                                <div class="input-group date  col-sm-10" id="dateIssued" data-target-input="nearest">
                                    <input th:field="*{dateIssued}" th:value="${registeredProgram.dateIssued}" type="text" class="form-control datetimepicker-input" data-target="#dateIssued" required/>
                                    <div class="input-group-append" data-target="#dateIssued" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseStatus" class="col-sm-2 col-form-label">Course Status</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" id="courseStatus" name="courseStatus" required>
                                        <th:block th:each="courseStatus : ${T(com.tesda8.region8.util.enums.CourseStatus).values()}">
                                            <th:block th:if="${courseStatus != T(com.tesda8.region8.util.enums.CourseStatus).ALL}">
                                                <option th:value="${courseStatus}"
                                                        th:text="${courseStatus.label}"
                                                        th:selected="${courseStatus == registeredProgram.courseStatus}">
                                                </option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="numberOfTeachers" class="col-sm-2 col-form-label">Number of Teachers</label>
                                <div class="col-sm-10">
                                    <input type="number" onkeypress="return isNumberKey(event)"  class="form-control" placeholder="Enter Number of Teachers" id="numberOfTeachers" name="numberOfTeachers" th:field="*{numberOfTeachers}" th:value="${registeredProgram.numberOfTeachers}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="isClosed" class="col-sm-2 col-form-label">Closed</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" th:field="*{isClosed}" th:value="${registeredProgram.isClosed}" id="isClosed"/>
                                    <span>Check if the registered program has been closed</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="buildingOwnershipDateIssued" class="col-sm-2 col-form-label">Building Ownership Date Issued</label>
                                <div class="input-group date  col-sm-10" id="buildingOwnershipDateIssued" data-target-input="nearest">
                                    <input th:field="*{registrationRequirement.buildingOwnershipDateIssued}" type="text" class="form-control datetimepicker-input" data-target="#buildingOwnershipDateIssued"/>
                                    <div class="input-group-append" data-target="#buildingOwnershipDateIssued" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fireSafetyDateIssued" class="col-sm-2 col-form-label">Fire Safety Certificate Date Issued</label>
                                <div class="input-group date  col-sm-10" id="fireSafetyDateIssued" data-target-input="nearest">
                                    <input th:field="*{registrationRequirement.fireSafetyDateIssued}" type="text" class="form-control datetimepicker-input" data-target="#fireSafetyDateIssued"/>
                                    <div class="input-group-append" data-target="#fireSafetyDateIssued" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="moaValidity" class="col-sm-2 col-form-label">MOA Validity Date Issued</label>
                                <div class="input-group date  col-sm-10" id="moaValidity" data-target-input="nearest">
                                    <input th:field="*{registrationRequirement.moaValidity}" type="text" class="form-control datetimepicker-input" data-target="#moaValidity"/>
                                    <div class="input-group-append" data-target="#moaValidity" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#dateIssued').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#buildingOwnershipDateIssued').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#fireSafetyDateIssued').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#moaValidity').datetimepicker({
                                        format: 'L'
                                    });
                                });
                            </script>
                        </div>
                        <div class="container mt-5">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-lg float-right" type="submit" id="submitButton" th:value="Update"><i class="fa fa-pencil-square" aria-hidden="true"></i> Update</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="container mt-5">
            <hr class="border"/>
        </div>
        <div class="container mb-5">
            <h1 class="display-5 text-black-50 mb-5">List of Officials</h1>
            <div class="table-responsive">
                <table id="official-table" class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col"> Name</th>
                        <th scope="col"> Position</th>
                        <th scope="col"> Address</th>
                        <th scope="col"> Contact Number</th>
                        <th scope="col"> Email</th>
                        <th scope="col"> Nature of Appointment</th>
                        <th scope="col"> Educational Attainment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="official : ${registeredProgram.officialDtoList}">
                        <tr>
                            <td><span th:text="${official.name}"></span></td>
                            <td><span th:text="${official.position}"></span></td>
                            <td><span th:text="${official.address}"></span></td>
                            <td><span th:text="${official.contactNumber}"></span></td>
                            <td><span th:text="${official.email}"></span></td>
                            <td><span th:text="${official.natureOfAppointment}"></span></td>
                            <td><span th:text="${official.educationalAttainment.label}"></span></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-5">
            <hr class="border"/>
        </div>
        <div class="container mb-5">
            <h1 class="display-5 text-black-50 mb-5">List of Trainers</h1>
            <div class="table-responsive">
                <table id="trainer-table" class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col"> Name</th>
                        <th scope="col"> Position</th>
                        <th scope="col"> Nature of Appointment</th>
                        <th scope="col"> Educational Attainment</th>
                        <th scope="col"> Years of Teaching Exp.</th>
                        <th scope="col"> Years of Industry Exp.</th>
                        <th scope="col" colspan="2"> Trainers Qualification</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>NTTC Number</th>
                        <th>Validity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="trainer : ${registeredProgram.trainerDtoList}">
                        <tr>
                            <td><span th:text="${trainer.name}"></span></td>
                            <td><span th:text="${trainer.position}"></span></td>
                            <td><span th:text="${trainer.natureOfAppointment}"></span></td>
                            <td><span th:text="${trainer.educationalAttainment.label}"></span></td>
                            <td><span th:text="${trainer.teachingExperienceYear}"></span></td>
                            <td><span th:text="${trainer.industryExperienceYear}"></span></td>
                            <td><span th:text="${trainer.trainerQualification.nttcNumber}"></span></td>
                            <td><span th:text="${trainer.trainerQualification.validity}"></span></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-5">
            <hr class="border"/>
        </div>
        <div class="container mb-5">
            <h1 class="display-5 text-black-50 mb-5">List of Non-Teaching Staff</h1>
            <div class="table-responsive">
                <table id="staff-table" class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col"> Name</th>
                        <th scope="col"> Position</th>
                        <th scope="col"> Nature of Appointment</th>
                        <th scope="col"> Educational Attainment</th>
                        <th scope="col"> Experience relative to position</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="staff : ${registeredProgram.nonTeachingStaffDtoList}">
                        <tr>
                            <td><span th:text="${staff.name}"></span></td>
                            <td><span th:text="${staff.position}"></span></td>
                            <td><span th:text="${staff.natureOfAppointment}"></span></td>
                            <td><span th:text="${staff.educationalAttainment.label}"></span></td>
                            <td><span th:text="${staff.positionExperience}"></span></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script  type='text/javascript' src="../../static/js/main.js" th:src="@{/js/main.js}"></script>


<div th:replace="fragments/footer :: footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script type='text/javascript' src="../../static/js/main.js" th:src="@{/js/program_registration/update_registered_program.js}"></script>


</body>
</html>