<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quality Unit - Feedback and Analysis</title>
    <div th:replace="fragments/header :: header-css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header" th:with="statusCounter=(${statusCounter})"/>

<div id="page-container">
    <div id = "content-wrap">
        <header class="bg-primary py-5 mb-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-12">
                        <h1 class="display-4 text-white mt-5 mb-2">Feedback and Analysis</h1>
                        <p class="lead mb-5 text-white-50">Monitoring report and feedback analysis from the customer satisfaction management system</p>
                        <div class="btn-group mr-2 float-right" role="group">
                            <a th:href="@{/quality}" class="a-header btn btn-info btn-lg" role="button" aria-pressed="true">Back to CSMS</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <div class="container">
                <form th:action="@{/quality/feedback-analysis/search}" th:object="${summaryFilter}" method="post">
                    <fieldset>
                        <div>
                            <h1 class="display-5 text-black-50 mb-5">Select Date for the Report</h1>
                            <div class="form-group row">
                                <label for="dateFrom" class="col-sm-2 col-form-label">Date From</label>
                                <div class="input-group date  col-sm-10" id="dateFrom" data-target-input="nearest">
                                    <input th:field="*{dateFrom}" type="text" class="form-control datetimepicker-input" data-target="#dateFrom"/>
                                    <div class="input-group-append" data-target="#dateFrom" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="dateTo" class="col-sm-2 col-form-label">Date To</label>
                                <div class="input-group date  col-sm-10" id="dateTo" data-target-input="nearest">
                                    <input th:field="*{dateTo}" type="text" class="form-control datetimepicker-input" data-target="#dateTo"/>
                                    <div class="input-group-append" data-target="#dateTo" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#dateFrom').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#dateTo').datetimepicker({
                                        useCurrent: false,
                                        format: 'L'
                                    });
                                    $("#dateFrom").on("change.datetimepicker", function (e) {
                                        $('#dateTo').datetimepicker('minDate', e.date);
                                    });
                                    $("#dateTo").on("change.datetimepicker", function (e) {
                                        $('#dateFrom').datetimepicker('maxDate', e.date);
                                    });
                                });
                            </script>
                        </div>
                        <div class="container mt-5">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-lg float-right" type="submit" id="submitButton" th:value="Update"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="container">
                <hr class="border"/>
            </div>
            <div class="container">
                <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <button class="btn nav-link active" id="monitoring-tab" data-toggle="pill" href="#monitoring" role="tab" aria-controls="monitoring" aria-selected="true">Monitoring Report</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn nav-link" id="summary-tab" data-toggle="pill" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary Report</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent-report">
                <div class="tab-pane fade show active" id="monitoring" role="tabpanel" aria-labelledby="monitoring-tab">
                    <div class="canvas_div_pdf">
                        <div class="mb-5 mt-5 container">
                            <a class="btn btn-lg btn-success" th:href="@{/quality/monitoring-report/download(dateFrom = ${summaryFilter.dateFrom}, dateTo = ${summaryFilter.dateTo})}"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                        </div>
                        <div class="container">
                            <div class="text-center">
                                <h3 class="text-black-50 mb-4">MONITORING REPORT OF CUSTOMER FEEDBACK FORM RESULTS</h3>

                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="table-responsive">
                                <div class="">
                                    <p class="ml-3 text-black align-left">Attached Agency: TESDA Regional Office 8</p>
                                    <p class="mr-3 text-black align-right">TESDA-OP-AS-03-F02</p>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="">
                                    <p class="ml-3 text-black align-left">Period Covered:
                                        <span th:text="${#dates.format(summaryFilter.dateFrom, 'MMM. dd, yyyy')}"></span>
                                        <span> - </span>
                                        <span th:text="${#dates.format(summaryFilter.dateTo, 'MMM. dd, yyyy')}"></span>
                                    </p>
                                    <p class="mr-3 text-black align-right">Rev. No. 01-10/01/20</p>
                                    <div style="clear: both;"></div>
                                </div>
                                <table id="monitor-table" class="table table-bordered table-striped table-hover table-sm">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" colspan="3"> Feedback Box Location</th>
                                        <th scope="col" colspan="6">Public Assistance and Complaints Deck (PACD)</th>
                                        <th scope="col" colspan="6"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col"> No.</th>
                                        <th scope="col"> Date</th>
                                        <th scope="col"> Control Number</th>
                                        <th scope="col"> Rater/Contact Details</th>
                                        <th scope="col"> Age</th>
                                        <th scope="col"> Gender</th>
                                        <th scope="col"> Email Address</th>
                                        <th scope="col"> Office Visited</th>
                                        <th scope="col"> Frontline Service Requested</th>
                                        <th scope="col"> Action Provided</th>
                                        <th scope="col" colspan="3"> Rating Format in the Citizen's Charter</th>
                                        <th scope="col"> Citizen's Comment</th>
                                        <th scope="col"> Action Taken (if any)</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>VS</th>
                                        <th>S</th>
                                        <th>P</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${monitoringReport.isEmpty()}">
                                        <td style="text-align: center" colspan="15">No data available.</td>
                                    </tr>
                                    <th:block th:each="feedback : ${monitoringReport}">
                                        <tr>
                                            <td style="text-align:center"><span th:text="${feedback.id}"></span></td>
                                            <td style="text-align:center"><span th:text="${#temporals.format(feedback.date, 'MMM. dd, yyyy')}"></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.controlNumber}"></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.customer.contactDetails}"></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.customer.age}"></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.customer.gender.label}"></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.customer.emailAddress}"></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.tesdaForm.tesdaOffice.label}"></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.tesdaForm.serviceRequested}"></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.tesdaForm.actionTaken.label}"></span></td>
                                            <td style="text-align:center"><span th:if="${feedback.totalRating == T(com.tesda8.region8.util.enums.FeedbackResponse).VERY_SATISFACTORY}"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                            <td style="text-align:center"><span th:if="${feedback.totalRating == T(com.tesda8.region8.util.enums.FeedbackResponse).SATISFACTORY}"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                            <td style="text-align:center"><span th:if="${feedback.totalRating == T(com.tesda8.region8.util.enums.FeedbackResponse).POOR}"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                            <td style="text-align:center"><span th:text="${feedback.suggestion}"></span></td>
                                            <td style="text-align:center"><span></span></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                    <div class="mb-5 mt-5 container">
                        <a class="btn btn-lg btn-success" th:href="@{/quality/summary-report/download(dateFrom = ${summaryFilter.dateFrom}, dateTo = ${summaryFilter.dateTo})}"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Download Excel</a>
                    </div>
                    <div class="container">
                        <div class="text-center">
                            <h3 class="text-black-50 mb-4">SUMMARY REPORT FOR FACE TO FACE TRANSACTION</h3>
                            <p class="text-black">(Customer Feedback Form TESDA-OP-AS-03-F01)</p>
                            <p class="text-black">For
                                <span th:text="${#dates.format(summaryFilter.dateFrom, 'MMM. dd, yyyy')}"></span>
                                <span> - </span>
                                <span th:text="${#dates.format(summaryFilter.dateTo, 'MMM. dd, yyyy')}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="container">
                        <hr class="border"/>
                    </div>
                    <div id="parent">
                        <div id="wide" class="container-sm">
                            <div class="container mb-5">
                                <div class="table-responsive">
                                    <p class="lead text-black-50">A. Total Number of Clients Served by Gender</p>
                                    <table id="gender-table" class="table table-bordered table-striped table-hover table-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> Sex</th>
                                            <th scope="col" style="width: 20%;"> No. of Clients</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="report : ${summaryReport.numberOfClientsByGender}">
                                            <tr th:class="${report.label == 'Total' ? 'total-col' : ''}">
                                                <td style="text-align:center"><span th:text="${report.label}"></span></td>
                                                <td style="text-align:center"><span th:text="${report.count}"></span></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="container">
                                <hr class="border"/>
                            </div>
                            <div class="container mb-5">
                                <div class="table-responsive">
                                    <p class="lead text-black-50">B. Distribution of Clients Served by Age Group</p>
                                    <table id="age-group-table" class="table table-bordered table-striped table-hover table-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> Age Group</th>
                                            <th scope="col" style="width: 20%;"> No. of Clients</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="report : ${summaryReport.numberOfClientsByAgeGroup}">
                                            <tr th:class="${report.label == 'Total' ? 'total-col' : ''}">
                                                <td style="text-align:center"><span th:text="${report.label}"></span></td>
                                                <td style="text-align:center"><span th:text="${report.count}"></span></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="container">
                                <hr class="border"/>
                            </div>
                            <div class="container mb-5">
                                <div class="table-responsive">
                                    <p class="lead text-black-50">C. Total Number of Clients by Nature of Inquiry</p>
                                    <table id="inquiry-table" class="table table-bordered table-striped table-hover table-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> Nature of Inquiry</th>
                                            <th scope="col" style="width: 20%;"> No. of Clients</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="service : ${T(com.tesda8.region8.util.enums.TesdaServiceType).values()}">
                                            <tr>
                                                <th><span th:text="${service.type}"></span></th>
                                                <td></td>
                                            </tr>
                                            <th:block th:each="report : ${summaryReport.numberOfClientsByNatureOfInquiry}">
                                                <tr th:if="${service.type == report.type}">
                                                    <td><span th:text="${report.label}"></span></td>
                                                    <td style="text-align:center"><span th:text="${report.count}"></span></td>
                                                </tr>
                                            </th:block>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="narrow" class="container">
                            <div class="container mb-5">
                                <div class="table-responsive">
                                    <p class="lead text-black-50">D. Action Provided Relative to Purpose of Visit</p>
                                    <table id="action-table" class="table table-bordered table-striped table-hover table-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> Action Provided</th>
                                            <th scope="col" style="width: 20%;"> No. of Clients</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="report : ${summaryReport.numberOfClientsByActionProvided}">
                                            <tr th:class="${report.label == 'Total' ? 'total-col' : ''}">
                                                <td><span th:text="${report.label}"></span></td>
                                                <td style="text-align:center"><span th:text="${report.count}"></span></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="container">
                                <hr class="border"/>
                            </div>
                            <div class="container mb-5">
                                <div class="table-responsive">
                                    <p class="lead text-black-50">E. Drivers of Satisfaction</p>
                                    <table id="satisfaction-table" class="table table-bordered table-striped table-hover table-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> Other Areas Related</th>
                                            <th scope="col" style="width: 15%;"> VS</th>
                                            <th scope="col" style="width: 15%;"> S</th>
                                            <th scope="col" style="width: 15%;"> P</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="report : ${summaryReport.satisfactionData}">
                                            <tr th:class="${report.feedbackQuery == 'Total' ? 'total-col' : ''}">
                                                <td><span th:text="${report.feedbackQuery}"></span></td>
                                                <td style="text-align:center"><span th:text="${report.verySatisfiedCount}"></span></td>
                                                <td style="text-align:center"><span th:text="${report.satisfiedCount}"></span></td>
                                                <td style="text-align:center"><span th:text="${report.poorCount}"></span></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="container">
                                <hr class="border"/>
                            </div>
                            <div class="container mb-5">
                                <div class="table-responsive">
                                    <p class="lead text-black-50">F. Overall Rating</p>
                                    <table id="overall-rating-table" class="table table-bordered table-striped table-hover table-sm">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"> Rating</th>
                                            <th scope="col" style="width: 30%;"> No of Clients</th>
                                            <th scope="col" style="width: 30%;"> Percentage</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="report : ${summaryReport.overallRatingData}">
                                            <tr th:class="${report.label == 'Net Satisfaction Rating' ? 'total-col' : ''}">
                                                <td style="text-align:center"><span th:text="${report.label}"></span></td>
                                                <td style="text-align:center"><span th:text="${report.count}"></span></td>
                                                <td style="text-align:center"><span th:text="${report.percentage}"></span><span>&#37;</span></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type='text/javascript' src="../../static/js/table_to_excel.js" th:src="@{/js/table_to_excel.js}"></script>

<div th:replace="fragments/footer :: footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
<script type='text/javascript' th:src="@{/js/sticky_table_header.js}"></script>
<script  type='text/javascript' src="../../static/js/doubleScroll/jquery.doubleScroll.js" th:src="@{/js/doubleScroll/jquery.doubleScroll.js}"></script>
<script type='text/javascript' src="../../static/js/table_event_handlers.js" th:src="@{/js/table_event_handlers.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script type='text/javascript' th:src="@{/js/quality/summary_report.js}"></script>


</body>
</html>