body {
    padding-top: 56px;
}

#parent {
    display: flex;
}
#narrow {
    width: 50%;
}
#wide {
    flex: 1;
    /* Grow to rest of container */
}

.parent {
    display: flex;
}
.narrow {
    width: 50%;
}
.wide {
    flex: 1;
    /* Grow to rest of container */
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* login css */

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://live.staticflickr.com/115/290192526_fc8db83a46_b.jpg');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}


.nav-pills .nav-link.active {
    background-color: #002761 !important;
}

.a-header:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

.a-header:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

.a-header:hover {
    color: #bcc4ff;
    background-color: transparent;
    text-decoration: none;
}

.a-header:active {
    color: #7388ff;
    background-color: transparent;
    text-decoration: none;
}

.graphContainer { width: 3000px !important; height: 3000px !important; }

.delete-col{
    background-color: #ff9e9e;
}

.closed-col {
    background-color: #ff9e9e;
}

.total-col {
    background-color: #b3ffc4;
    font-weight: bold;
}

.first-col {
    font-weight: bold;
}

.col-striped {
    background-color: #ffffad;
}

.col-striped2 {
    background-color: #c4e5ff;
}

.home {
    background: linear-gradient(130deg, #ffffff, #ffffff);
    background-size: 400% 400%;
    -webkit-animation: gradient 16s ease infinite;
    -moz-animation: gradient 16s ease infinite;
    animation: gradient 16s ease infinite;
}

@-moz-keyframes gradient {
    0% {
        background-position: 5% 0%
    }
    50% {
        background-position: 96% 100%
    }
    100% {
        background-position: 5% 0%
    }
}

@keyframes gradient {
    0% {
        background-position: 5% 0%
    }
    50% {
        background-position: 96% 100%
    }
    100% {
        background-position: 5% 0%
    }
}


.background {
    background-image: url('../images/tesda_background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    /*border: 10px solid #f1f1f1;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
}

.sidebar {
    padding: 10px;
    width: 200px;
    background-color: #ffffff;
    color: #363a3f;
}

.sidebar {
    float: right;
}

/* The sticky */
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.bg-text2 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    /*border: 10px solid #f1f1f1;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

#media-header {
    display: none;
}

/* If the screen size is 600px or less */
@media only screen and (max-width: 600px) {
    #media-header {
        display: block;
    }
    #web-header {
        display: none;
    }
}


/* If the screen size is 1400px or less */
@media only screen and (max-width: 1400px) {
    .sidebar {
        display: none;
    }
}

.nav-dropdown {
    background-color: #353a3f;
}

label.error {
    color: red;
    display: block;
}

.navDropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

.header-dropdown-item {
    color: white;
}

.danger {
    color: red;
}

.input-required {
    color: red;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

.strong-data {
    font-weight: bold;
    color: red;

}

div.tesda-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px; /*width of your image*/
    height:200px;
    background-image:url("../images/tesda_logo2.jpg");
    background-repeat: no-repeat;
}


.rating-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.rating-selector-2 input{
    position: absolute;
    z-index: 999;
}

.rating-selector-2 input:active +.rating, .rating-selector input:active +.rating{
    opacity: .9;
}
.rating-selector-2 input:checked +.rating, .rating-selector input:checked +.rating{
    opacity: .9;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.rating{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:60px;height:60px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.rating:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.total-rating {
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:75px;height:75px;
}

.total-rating-blur {
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:80px;height:80px;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}


.very-satisfactory {
    background-image: url('../images/very_satisfactory.png');
}

.satisfactory {
    background-image: url('../images/satisfactory.png');
}

.poor {
    background-image: url('../images/poor.png');
}

.very-satisfactory-label {
    color: green;
}

.satisfactory-label {
    color: yellow;
}

.poor-label {
    color: red;
}

.align-left {
    float: left;
}
.align-right {
    float: right;
}