<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TESDA Region VIII Internal Application</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<!-- Header -->
<div id="page-container">
    <div id = "content-wrap mt-5 mb-5">

        <!-- Header - set the background image for the header in the line below -->
        <header class="py-5 bg-image-full" style="background-image: url('../images/background_blue_reversed.png');">
            <img class="img-fluid d-block mx-auto" th:src="@{/images/tesda_logo2.jpg}" src="../static/images/tesda_logo2.jpg" alt="">
        </header>

        <!-- Content section -->
        <section class="py-5 mt-5">
            <div class="container">
                <div class="col text-center">
                    <h1 class="display-3 mt-2 mb-2">TESDA Region VIII</h1>
                    <h1 class="display-4 mt-2 mb-2">Regional Office Internal Application</h1>
                    <p class="lead">TESDA Region 8's back office application for accomplishment report summaries, program registration, certification and planning unit services, etc.</p>
                    <a th:href="@{/dashboard}"><button role="button" aria-pressed="true" class="mt-5 btn btn-primary btn-lg">Go to Dashboard &raquo;</button></a>
                </div>
            </div>
        </section>

        <!-- Image element - set the background image for the header in the line below -->
        <header class="py-5 bg-image-full" style="background-image: url('../images/background_blue.png');">
            <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
            <div style="height: 200px;"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>