<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>TESDA Eastern Visayas Internal Application</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap" rel="stylesheet">
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header(${statusCounter})"/>

<!-- Header -->
<div id="page-container">
    <div id = "content-wrap mt-5 mb-5">
        <div class="background">
            <div class="blur"></div>
        </div>
        <div id="web-header" class="col bg-text">
            <h1 class="display-2 mt-2 mb-2">TESDA Eastern Visayas</h1>
            <h2 class="display-4 mt-2 mb-2">Regional Office Internal Application</h2>
            <p class="lead">TESDA Region 8's back office application for accomplishment report summaries, program registration, certification and planning unit services, etc.</p>
            <a th:href="@{/dashboard/daily}"><button role="button" aria-pressed="true" class="mt-5 btn btn-primary btn-lg">Go to Dashboard &raquo;</button></a>
        </div>
        <div id="media-header" class="col bg-text2">
            <h1 class="display-4 mt-2 mb-2">TESDA Eastern Visayas</h1>
            <h2 class="display-5 mt-2 mb-2">Regional Office Internal Application</h2>
            <p>TESDA Region 8's back office application for accomplishment report summaries, program registration, certification and planning unit services, etc.</p>
            <a th:href="@{/dashboard/daily}"><button role="button" aria-pressed="true" class="mt-5 btn btn-primary btn-lg">Go to Dashboard &raquo;</button></a>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>