<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Planning - Create Success Indicator</title>
    <div th:replace="fragments/header :: header-css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

</head>
<body>

<div th:replace="fragments/header :: header" th:with="statusCounter=(${statusCounter})"/>

<div id="page-container">
    <div id = "content-wrap">
        <header class="bg-primary py-5 mb-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-12">
                        <h1 class="display-4 text-white mt-5 mb-2">Add Success Indicator</h1>
                        <p class="lead mb-5 text-white-50">Create new success indicator for the OPCR</p>
                        <div class="btn-group mr-2 float-right" role="group">
                            <a th:href="@{/planning}" class="a-header btn btn-info btn-lg" role="button" aria-pressed="true">Back to OPCR Summary</a>
                            <a th:href="@{/planning/pap/manage(year = ${papFilter.year})}" class="a-header btn btn-info btn-lg" role="button" aria-pressed="true">Manage P/A/P</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <form th:object="${papFilter}" th:action="@{/planning/successIndicator/create/filter}" method="post">
            <div class="container">
                <h1 class="display-5 text-black-50 mb-5">Select OPCR Year</h1>
                <div class="form-group row">
                    <label for="year" class="col-sm-2 col-form-label">OPCR Year</label>
                    <div class="col-sm-10">
                        <select class="form-control selectpicker" th:field="*{year}" id="year">
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary btn-lg" type="submit" id="searchButton" th:value="Update"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
            </div>
        </form>
        <div class="container mb-5">
            <hr class="border"/>
        </div>
        <form id="addSuccessIndicatorForm" th:object="${successIndicator}" th:action="@{/planning/successIndicators/create/save}" method="post">
            <div class="container">
                <h1 class="display-5 text-black-50 mb-5">Create New Success Indicator</h1>
                <div class="form-group row">
                    <label for="papDataId" class="col-sm-2 col-form-label">Select P/A/P<span class="input-required">*</span></label>
                    <div class="col-sm-10">
                        <select class="selectpicker" data-width="100%" data-live-search="true" id="papDataId" name="papDataId" required>
                            <th:block th:each="papGroupType : ${T(com.tesda8.region8.util.enums.PapGroupType).values()}">
                                <optgroup th:label="${papGroupType.label}">
                                    <th:block th:each="papData : ${papDataList}">
                                        <th:block th:if="${papData.papGroupType == papGroupType}">
                                            <option th:text="${papData.name}"
                                                    th:value="${papData.id}">
                                        </th:block>
                                    </th:block>
                                </optgroup>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="successIndicatorType" class="col-sm-2 col-form-label">Select Operating Unit<span class="input-required">*</span></label>
                    <div class="col-sm-10">
                        <select class="selectpicker" data-width="100%" id="successIndicatorType" name="successIndicatorType" required>
                            <th:block th:each="successIndicatorType : ${T(com.tesda8.region8.util.enums.SuccessIndicatorType).values()}">
                                <option th:text="${successIndicatorType.label}"
                                        th:value="${successIndicatorType}">
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="target" class="col-sm-2 col-form-label">Total Target<span class="input-required">*</span></label>
                    <div class="col-sm-10">
                        <input id="target" type="number" onkeypress="return isNumberKey(event)" class="form-control"
                               th:field="*{target}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="isAccumulated" class="col-sm-2 col-form-label">Accumulated<span class="input-required">*</span></label>
                    <div class="col-sm-10">
                        <input type="checkbox" th:field="*{isAccumulated}" id="isAccumulated" th:value="${successIndicator.isAccumulated}"/>
                        <span>Check if total values will be accumulated.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="isPercentage" class="col-sm-2 col-form-label">Percentage<span class="input-required">*</span></label>
                    <div class="col-sm-10">
                        <input type="checkbox" th:field="*{isPercentage}" id="isPercentage"/>
                        <span>Check if the target value is in percentage format.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="measures" class="col-sm-2 col-form-label">Measure<span class="input-required">*</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control" placeholder="Enter measure" id="measures" name="measures" type="text" th:field="*{measures}" required>
                        </textarea>
                    </div>
                </div>
            </div>
            <div id="poTable" class="container">
                <h3 class="display-5 text-black-50 mt-5 text-center">Provincial Offices/Regional Office</h3>
                <div class="table-responsive  mt-2">
                    <table class="table table-striped table-hover table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th:block th:each="operatingUnit : ${T(com.tesda8.region8.util.enums.OperatingUnitPOType).values()}">
                                    <th:block th:if="${operatingUnit != T(com.tesda8.region8.util.enums.OperatingUnitPOType).TOTAL and
                                                        operatingUnit.successIndicatorType eq 'PO'}">
                                        <th colspan="2" th:text="${operatingUnit.label}"></th>
                                    </th:block>
                                </th:block>
                            </tr>
                            <tr>
                                <th>Target</th>
                                <th>Output</th>
                                <th>Target</th>
                                <th>Output</th>
                                <th>Target</th>
                                <th>Output</th>
                                <th>Target</th>
                                <th>Output</th>
                                <th>Target</th>
                                <th>Output</th>
                                <th>Target</th>
                                <th>Output</th>
                                <th>Target</th>
                                <th>Output</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="operatingUnitData, itemstat : ${successIndicator.operatingUnitDataList}">
                                <th:block th:if="${operatingUnitData.operatingUnitType ne T(com.tesda8.region8.util.enums.OperatingUnitPOType).TOTAL and
                                                    operatingUnitData.operatingUnitType.successIndicatorType eq 'PO'}">
                                    <td th:class="${operatingUnitData.operatingUnitType.tableType == 'HIGHLIGHTED' ? 'col-striped' : ''}">
                                        <input th:class="${operatingUnitData.operatingUnitType.tableType == 'HIGHLIGHTED' ? 'col-striped form-control' : 'form-control'}"
                                                type="number" onkeypress="return isNumberKey(event)"
                                                                   th:field="*{operatingUnitDataList[__${itemstat.index}__]
                                                           .target}" required/>
                                    </td>
                                    <td th:class="${operatingUnitData.operatingUnitType.tableType == 'HIGHLIGHTED' ? 'col-striped' : ''}">
                                        <input th:class="${operatingUnitData.operatingUnitType.tableType == 'HIGHLIGHTED' ? 'col-striped form-control' : 'form-control'}"
                                                type="number" onkeypress="return isNumberKey(event)"
                                                                   th:field="*{operatingUnitDataList[__${itemstat.index}__]
                                                           .output}" required/>
                                    </td>
                                    <input type="hidden"
                                               th:field="*{operatingUnitDataList[__${itemstat.index}__]
                                                               .operatingUnitType}"/>
                                </th:block>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="ttiTable">
                <h3 class="display-5 text-black-50 mt-5 text-center">TESDA Training Institutions</h3>
                <div class="table-responsive  mt-2">
                    <table class="table table-striped table-hover table-bordered table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th:block th:each="operatingUnit : ${T(com.tesda8.region8.util.enums.OperatingUnitPOType).values()}">
                                <th:block th:if="${operatingUnit != T(com.tesda8.region8.util.enums.OperatingUnitPOType).TOTAL and
                                                        operatingUnit.successIndicatorType eq 'TTI'}">
                                    <th colspan="2" th:text="${operatingUnit.label}"></th>
                                </th:block>
                            </th:block>
                        </tr>
                        <tr>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                            <th>Target</th>
                            <th>Output</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="operatingUnitData, itemstat : ${successIndicator.operatingUnitDataList}">
                            <th:block th:if="${operatingUnitData.operatingUnitType ne T(com.tesda8.region8.util.enums.OperatingUnitPOType).TOTAL and
                                                    operatingUnitData.operatingUnitType.successIndicatorType eq 'TTI'}">
                                <td th:class="${operatingUnitData.operatingUnitType.tableType == 'HIGHLIGHTED' ? 'col-striped' : ''}">
                                    <input th:class="${operatingUnitData.operatingUnitType.tableType == 'HIGHLIGHTED' ? 'col-striped form-control' : 'form-control'}"
                                           type="number" onkeypress="return isNumberKey(event)"
                                           th:field="*{operatingUnitDataList[__${itemstat.index}__]
                                                           .target}" required/>
                                </td>
                                <td th:class="${operatingUnitData.operatingUnitType.tableType == 'HIGHLIGHTED' ? 'col-striped' : ''}">
                                    <input th:class="${operatingUnitData.operatingUnitType.tableType == 'HIGHLIGHTED' ? 'col-striped form-control' : 'form-control'}"
                                           type="number" onkeypress="return isNumberKey(event)"
                                           th:field="*{operatingUnitDataList[__${itemstat.index}__]
                                                           .output}" required/>
                                </td>
                                <input type="hidden"
                                       th:field="*{operatingUnitDataList[__${itemstat.index}__]
                                                               .operatingUnitType}"/>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container mt-5">
                <div class="btn-group ml-auto" role="group">
                    <button class="btn btn-primary btn-lg" type="submit" id="submitButton" th:value="Update"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create New Success Indicator</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script  type='text/javascript' src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
<div th:replace="fragments/footer :: footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script  type='text/javascript' th:src="@{/js/planning/add_success_indicator.js}"></script>
</body>
</html>