<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Certification - Update Certificate</title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />

</head>
<body>

<div th:replace="fragments/header :: header" th:with="statusCounter=(${statusCounter})"/>

<div id="page-container">
    <div id = "content-wrap">
        <header class="bg-primary py-5 mb-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-12">
                        <h1 class="display-4 text-white mt-5 mb-2">Update Certificate</h1>
                        <p class="lead text-white-50">Update certificate details for the trainer</p>
                        <div class="btn-group mr-2 float-right" role="group">
                            <a th:href="@{/certification}" class="a-header btn btn-info btn-lg" role="button" aria-pressed="true">Back to Registry of TVET Trainers</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <div class="container mb-5">
                <form id="updateCertificateForm" th:action="@{/certification/certificate/update}" th:object="${certificate}" method="post">
                    <fieldset>
                        <input type="hidden" th:field="*{id}"/>
                        <input id="certificateType" type="hidden" th:field="*{certificateType}"/>
                        <input type="hidden" th:field="*{trainerId}"/>
                        <div class="container">
                            <h1 class="display-5 text-black-50 mb-5">Update <span th:text="${certificate.certificateType}"></span> Certificate</h1>
                            <input type="hidden" th:field="*{isDeleted}"/>
                            <div class="form-group row">
                                <label for="certificateNumber" class="col-sm-2 col-form-label">Certificate Number<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter Certificate Number" id="certificateNumber" name="certificateNumber" type="text" th:field="*{certificateNumber}" required/>
                                </div>
                            </div>
                            <div id="sectorDiv" class="form-group row">
                                <label for="sector" class="col-sm-2 col-form-label">Select Course Sector</span></label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" data-live-search="true"  id="sector" name="sector">
                                        <optgroup label="Non-Bundled Programs">
                                            <th:block th:each="sector : ${T(com.tesda8.region8.util.enums.Sector).values()}">
                                                <th:block th:if="${sector.sectorType != 'BUNDLED' and sector != T(com.tesda8.region8.util.enums.Sector).ALL}">
                                                    <option th:value="${sector}"
                                                            th:text="${sector.label}"
                                                            th:selected="${sector == certificate.sector}">
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div id="qualificationTitleDiv" class="form-group row">
                                <label for="qualificationTitle" class="col-sm-2 col-form-label">Qualification Title<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter Qualification Title" id="qualificationTitle" name="qualificationTitle" type="text" th:field="*{qualificationTitle}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="dateIssuedRequest" class="col-sm-2 col-form-label">Date Issued<span class="input-required">*</span></label>
                                <div class="input-group date  col-sm-10" id="dateIssuedRequest" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#dateIssuedRequest" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <input th:field="*{dateIssuedRequest}" type="text" class="form-control datetimepicker-input" data-target="#dateIssuedRequest" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="expirationDateRequest" class="col-sm-2 col-form-label">Expiration Date<span class="input-required">*</span></label>
                                <div class="input-group date  col-sm-10" id="expirationDateRequest" data-target-input="nearest">
                                    <div class="input-group-append" data-target="#expirationDateRequest" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <input th:field="*{expirationDateRequest}" type="text" class="form-control datetimepicker-input" data-target="#expirationDateRequest" required/>
                                </div>
                            </div>
                            <div id="clnNtcNumberDiv" class="form-group row">
                                <label for="clnNtcNumber" class="col-sm-2 col-form-label">CLN-NTC Number<span class="input-required">*</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Enter CLN-NTC Number" id="clnNtcNumber" name="clnNtcNumber" type="text" th:field="*{clnNtcNumber}" required/>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#dateIssuedRequest').datetimepicker({
                                        format: 'L'
                                    });
                                    $('#expirationDateRequest').datetimepicker({
                                        format: 'L'
                                    });
                                });
                            </script>
                        </div>
                        <div class="container mt-5">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary btn-lg float-right" type="submit" id="submitButton" th:value="Update"><i class="fa fa-pencil-square" aria-hidden="true"></i> Update</button></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script  type='text/javascript' src="../../static/js/main.js" th:src="@{/js/main.js}"></script>


<div th:replace="fragments/footer :: footer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script  type='text/javascript' th:src="@{/js/certification/update_certificate.js}"></script>


</body>
</html>