<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div id="page-container">
    <div th:fragment="footer">
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; 2020 tesda8app.herokuapp.com |
                    <a class="a-header" href="https://sites.google.com/a/tesda.gov.ph/ro8"><u>Google Site</u></a>
                    <span> | </span>
                    <a class="a-header" href="https://www.facebook.com/tesdaregion8/"><u>Facebook Page</u></a>
                </p>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script type="text/javascript"
                src="/webjars/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript"
                src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
</div>



</body>
</html>