<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div id="page-container">
    <div th:fragment="footer">
        <footer class="py-5 bg-dark">
            <div class="">
                <p class="m-0 text-center text-white">Copyright &copy; 2020 tesda8app.herokuapp.com |
                    <a class="a-header" href="https://www.tesda.gov.ph/"><i class="fa fa-globe" aria-hidden="true"></i> TESDA Official Site</a>
                    <span> | </span>
                    <a class="a-header" href="https://sites.google.com/a/tesda.gov.ph/ro8"><i class="fa fa-google" aria-hidden="true"></i> RO8 Google Site</a>
                    <span> | </span>
                    <a class="a-header" href="https://www.facebook.com/tesdaregion8/"><i class="fa fa-facebook-square" aria-hidden="true"></i> RO8 Facebook Page</a>
                </p>
            </div>
        </footer>
    </div>
</div>



</body>
</html>