<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../static/css/main.css" />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="header(statusCounter)">
    <!-- this is header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top page-header">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/favicon.png}" src="../../static/images/tesda_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            TESDA RO-8
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dashboard
                    </a>
                    <div class="dropdown-menu nav-dropdown" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item header-dropdown-item" th:href="@{/dashboard}">Daily As Of Reports</a>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/monthly}">Monthly Comparative</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/registeredPrograms}">Monitor TTI Registered Programs</a>
                    </div>
                </li>
                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Planning
                    </a>
                    <div class="dropdown-menu nav-dropdown" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item header-dropdown-item" th:href="@{/planning}">OPCR Summary</a>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/planning/opcr/update}">Update OPCR</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/planning/successIndicator/create}">Add Success Indicators</a>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/planning/successIndicator/update}">Update Success Indicators</a>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/planning/pap/manage}">Manage P/A/P</a>
                    </div>
                </li>
                <li class="nav-item dropdown navDropdown">
                    <th:block th:if="${statusCounter > 0}">
                        <span class="badge badge-pill badge-danger" style="float:right;margin-bottom:-10px;" th:text="${statusCounter}"></span>
                    </th:block>
                    <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Program Registration
                    </a>
                    <div class="dropdown-menu nav-dropdown" aria-labelledby="navbarDropdown3">
                        <th:block th:if="${statusCounter > 0}">
                            <span class="badge badge-pill badge-danger" style="float:right;margin-bottom:-10px;" th:text="${statusCounter}"></span>
                        </th:block>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/program_registration}">Compendium of Registered Programs</a>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/program_registration/registeredProgram/create}">Add Registered Program</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/program_registration/institutions}">Institution List</a>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/program_registration/institution/create}">Add Institution</a>
                    </div>
                </li>
                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Scholarship
                    </a>
                    <div class="dropdown-menu nav-dropdown" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item header-dropdown-item" th:href="@{/scholarship}">Monthly Scholarship Accomplishment</a>
                        <a class="dropdown-item header-dropdown-item" th:href="@{/scholarship/update(year = 2020, month = 'DECEMBER')}">Update Scholarship Accomplishment</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/certification}">Certification</a>
                </li>
            </ul>
            <span th:if="${#httpServletRequest.remoteUser}" class="navbar-text">
                Hello [[${#httpServletRequest.remoteUser}]]! |
              <a th:href="@{/logout}">Sign Out</a>
            </span>
            <span th:if="!${#httpServletRequest.remoteUser}" class="navbar-text">
              <a th:href="@{/login}">Log In</a>
            </span>
        </div>
    </nav>
    <script type='text/javascript' th:src="@{/js/nav_header.js}"></script>
</div>

</body>
</html>