<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../static/css/main.css" />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/tesda_logo.png}" src="../../static/images/tesda_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            TESDA Region VIII
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/planning}">Planning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/program_registration}">Program Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/scholarship}">Scholarship</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/certification}">Certification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/payroll}">Payroll</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/supply}">Supply</a>
                </li>
            </ul>
            <span th:if="${#httpServletRequest.remoteUser}" class="navbar-text">
                Hello [[${#httpServletRequest.remoteUser}]]! |
              <a th:href="@{/logout}">Sign Out</a>
            </span>
            <span th:if="!${#httpServletRequest.remoteUser}" class="navbar-text">
              <a th:href="@{/login}">Log In</a>
            </span>
        </div>
    </nav>
</div>

</body>
</html>